@{
    Layout = "_Layout"; // Ensure this points to the correct layout file name
    ViewData["Title"] = "Expenses";
}

<p>
    <button class="btn btn-icon btn-3 btn-primary" type="button" id="createButton" title="Create">
        <span class="btn-inner--icon"><i class="fa fa-plus"></i></span>
        <span class="btn-inner--text">Create</span>
    </button>

    <button class="btn btn-icon btn-3 btn-primary" type="button" id="refresh" title="refresh">
        <span class="btn-inner--icon"><i class="fa fa-refresh"></i></span>
        <span class="btn-inner--text">Refresh</span>
    </button>
</p>

@* 
<div class="row">
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
</div> *@

<div class="row">
    <div class="col-md-12 margin-top-20">
        <div class="table-responsive">
            <table id="gridContainer" class="table table-striped table-hover table-bordered dataTables-example dataTable no-footer "></table>
        </div>
    </div>
</div>

<script src="~/js/app/expense.js" defer></script>
