@{
    Layout = "_Layout"; // Ensure this points to the correct layout file name
    ViewData["Title"] = "Income";
}


<p>
    <button class="btn btn-icon btn-3 btn-primary" type="button" id="createButton" title="Create">
        <span class="btn-inner--icon"><i class="fa fa-plus"></i></span>
        <span class="btn-inner--text">Create</span>
    </button>

    <button class="btn btn-icon btn-3 btn-primary" type="button" id="refresh" title="refresh">
        <span class="btn-inner--icon"><i class="fa fa-refresh"></i></span>
        <span class="btn-inner--text">Refresh</span>
    </button>
</p>

<br />

<div class="row">
    <div class="col-md-12 margin-top-20">
        <div class="table-responsive">
            <table id="gridContainer" class="table table-striped table-hover table-bordered dataTables-example dataTable no-footer "></table>
        </div>
    </div>
</div>

@*
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/moment.min.js"></script>
<link rel="stylesheet" href="~/css/daterangepicker.3.14.1.css" />
<script src="~/js/daterangepicker.3.14.1.min.js" defer></script> *@

<script src="~/js/income.js" defer></script>